
.input_group {
    position: relative;

    input {
        padding: 20px 0 20px 60px;
        outline: none;
        /* border: none; */
        border-radius: 15px;
        font-size: 20px;
    }

    & .search_icon {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
    }
}